/* Style the Sticky icons on web page */   
.stickyicon-list {   
    position: fixed;   
    top: 200px;   
    transform: translateY(-50%);             
}         
.stickyicon-list a {   
    display: block;   
    text-align: center;   
    padding: 8px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 20px;   
}         
/* HOver affect on sticky social media icons */   
.stickyicon-list a:hover {   
    color: #000;   
    width:10px;   
}
.fa {
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
}
.fa-twitter {  
    background: #55ACEE;  
    color: white;  
}
.fa-linkedin {  
    background: #007bb5;  
    color: white;  
}
.fa:hover {  
    opacity: 0.9;  
}